html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;


  /* THEME CSS VARIABLES */

  /* --primary-color: is set dynamically in page/index.js */
  --background-color: #efefef;
  --text-default: #333;
  --text-muted: #9da0a7;
  --text-default-invert: #fff;

  color: var(--text-default);
  background-color: var(--background-color);
}


::-moz-selection {
  color: var(--text-default-invert);
  background: var(--primary-color);
}
::selection {
  color: var(--text-default-invert);
  background: var(--primary-color);
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
